.lh-26 {line-height: 26px;}
.pt-96 {padding-top: 96px;}
.mb-48 {margin-bottom: 48px;}
hr { 
    border-top:1px solid #E9EAEB;
}
.max-h-280 {max-height: 280px;}
.quote small {
    padding-left: 22px;
}
.quote h5 {
    padding-left: 20px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 32px;
    line-height: 36px;
    font-size: 24px;
    color: #181D27;
}
.quote {
    border-left: 2px solid var(--primary-purple-color);
}
ul {
    padding-left: 20px;
    color: var(--gray-color-light);
    font-weight: 400;
    font-size: var(--fs-16);
    line-height: var(--lh-28);
}

.glass-overlay {
  position: absolute;
  top: 20rem;
  left: 0;
  right: 0;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  min-height: 100px;
  font-size: 14px;
}

.glass-overlay .author {
  font-weight: 600;
  margin: 0;
  margin-bottom: 4px;
}

.glass-overlay .date {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

.glass-overlay .text-right {
  font-weight: bold;
}