.py-120 {padding-top: 120px; padding-bottom: 120px;}
.mb-6 {margin-bottom: 6px;}
.h-100-vh {height: 100vh;}
form label {font-weight: 500;font-size: var(--fs-14);line-height: 20px;}
form input[type="password"],form input {border: 1px solid #D5D7DA; box-shadow: var(--box-shadow-1); padding: 10px 14px; color: #717680;}